@import '../../styles/variable';
@import '../../styles/global';

.sale-banner {
  position: relative;
  margin-bottom: 65px;
  .sale-banner-images {
    display: flex;
    img {
      height: auto;
      width: 100%;
    }
    .sale-banner-women {
      @media (max-width: 541px) {
        width: 0%;
      }
    }
  }
  .sale-banner-title {
    font-family: $Montserrat;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $secondaryColor;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    width: 23%;
    top: -1%;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(233 231 231 / 73%);
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px white inset;
    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 900px) {
      font-size: 24px;
      width: 25%;
    }
    @media (max-width: 541px) {
      width: 50%;
    }
    .vіdsotok {
      font-size: 60px;
      line-height: 110%;
      @media (max-width: 1200px) {
        font-size: 45px;
      }
      @media (max-width: 900px) {
        font-size: 37px;
      }
    }
  }
}
.sale-slider {
  .sale-slider-title {
    font-family: $Montserrat300;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: $danger;
    margin-bottom: 16px;
  }
  .swiper {
    margin-bottom: 30px;
    padding: 40px;
    .swiper-pagination-bullet-active {
      background-color: #000;
    }

    .swiper-button-prev {
      background-image: url("../../images/svg/prev.svg");
      width: 58px;
      height: 58px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:after {
        display: none;
      }
    }

    .swiper-button-next {
      background-image: url("../../images/svg/next.svg");
      width: 58px;
      height: 58px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:after {
        display: none;
      }
    }

    .sale__item--img {
      margin-bottom: 20px;
      max-width: 300px;
      height: 350px;
    }
    .sale__item {
      position: relative;
      .sale__item--icon {
        position: absolute;
        right: 11%;
        top: 8%;
        p {
          font-family: $MontserratBold;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
          color: #FFFFFF;
          position: absolute;
          right: 12%;
          top: 27%;
        }
      }
    }
    .sale__item--info {
      font-family: $MontserratBold;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      color: $textColor;
    }
    .sale__item--price {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin: 22px 0;
      .sale__item--price-total {
        font-family: $Montserrat600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        text-decoration-line: line-through;
        color: $secondaryTexColor;
      }
      .sale__item--price-discount {
        font-family: $MontserratBold;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $danger;
      }
    }
  }

  .sale-description {
    font-family: $Montserrat500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: $secondaryTexColor;
  }

  .sale--show {
    font-size: 16px;
    line-height: 120%;
    font-family: $Montserrat500;
    text-align: center;
    text-transform: uppercase;
    color: $secondaryColor;
  }

  .sale--link-description {
    display: block;
    margin: 14px auto 75px;
    width: 230px;
    height: 1px;
    background-color: $secondaryColor;
  }
}