@import '../../styles/variable';
@import "../../styles/global";

.news__pagination {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  font-family: $Montserrat500;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  .news__pagination--home {
    color: $secondaryColor;
  }
  .news__pagination--collection{
    color: $secondaryTexColor;
  }
}
.news-goods__title {
  font-family: $Montserrat300;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #7aee87;
  padding: 70px 0 20px;
}
