@import '../../styles/variable';
@import "../../styles/global";
.header {
  background-color: $bgHeader;
  border-bottom: 1px solid $btnColor;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      height: 78px;
      align-items: center;
      position: relative;
      .button-burger {
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .header-icons {
        display: flex;
        gap: 70px;
      @media (max-width:541px) {
        gap:20px;
      }
      p {
        color: $secondaryColor;
        font-size: 14px;
        line-height: 120%;
        margin: 0;
        font-family: $Montserrat500;
      }
      }
    }
}
