@import '../../styles/variable';
@import "../../styles/global";

.sale__pagination {
  justify-content: center;
  padding: 30px;
  display: flex;
  gap: 20px;
  font-family: $Montserrat500;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  .sale__pagination--home {
    color: $secondaryColor;
  }
  .sale__pagination--collection{
    color: $secondaryTexColor;
  }
}
.sale-goods__title {
  font-family: $Montserrat300;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #d17aee;
}